{#
/**
 * Template for the main menu.
 */
#}


<nav class="navbar navbar-dark navbar-expand-lg position-relative d-flex justify-content-end">
  <div class="collapse navbar-collapse" id="collapse_target">
   {% include '@radix/nav/nav.twig' with {utility_classes: ['navbar-nav',],} %}
  </div>
  <div class="toggler-busca" id="icon-busca"></div>
</nav>
