// Bootstrap
// -----------------------------------------------------------------------------
@import "bootstrap";

// Parent Drupal related components
// -----------------------------------------------------------------------------
@import "../components/offcanvas/offcanvas";

// Include any custom stylesheets here
// -----------------------------------------------------------------------------
body {
  color: $black;
  font-family: "Averta", sans-serif;

  .page {
    position: relative;

    .navbar {
      position: absolute;
    }
  }

  .block--system-branding {
    // float: left;
    z-index: 99;
    margin-right: auto;
  }

  .block--navegacaoprincipal {      
    // width: 60%;              /* Apagar daqui */
    // top: 18px;

    @media (max-width: 990px) {
      display: none;
    }                           /* Ate aqui */

    ul.nav {
      background-color: $white;
      flex-direction: row;
      justify-content: flex-end;
      // right: 10%;
      // position: absolute;
      z-index: 10;
      padding: 0;
      margin: 0;
      height: 52px;
      align-items: center;

      li {
        // flexbox side by side
        // align-items: center;
        // justify-content: center;
        display: inline;
        padding: 0 0.9rem;

        
        a {
          color: $black;
          .dropdown-item {
            &:active{
              background-color: transparent; /* Teste */
            }
          }
        }
      }
    }
  }
  
  .views-field-nid{
  .button {
    padding: 6px 15px;
    font-size: 11px !important;

    &::after {
      content: '>';
      display: inline-block;
      font-size: 12px;
      //padding: 0px 6px 3px 5px;
      margin-left: 20px;
      position: relative;
    }

    &:hover {
      color: $black;
      background-color: $white;

      &::after {
        color: $black;
      }
    }
  }
 }
  #search-block-form {
    @media (max-width: 990px) {
      display: none;
    }
    text-align: right;

    > div {
      float: left;
    }

    // input[type="search"] {
    //   display: none;
    //   width: 95%;
    // }

    // input[type="submit"] {
    //   border-radius: 0;
    //   border: 0;
    //   width: 44px;
    //   height: 52px;
    //   font-size: 0;
    //   background: url(../../images/icon-search.png) center no-repeat #fff;
    //   background-size: 18px;
    // }

    // &:hover input[type='search'] {
    //   display: block;
    // }
  }

  // Altera as abas para ficarem fixas no fim da tela
  .block--observatorio-primary-local-tasks {
    background-color: #ccccccb4;
    bottom: 0;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.3);
    font-size: 15px;
    height: 40px;
    position: fixed;
    right: 1rem;
    z-index: 999;

    .mb-3 {
      border-bottom: 0;
    }

    a {
      color: black;
    }
  }

  main {
    font-weight: 400;

    .page__header {
      position: absolute;
      top: 40px;
      width: 100%;

      .header_container {
        display: flex;
        width: 100%;
        //justify-content: flex-end;

        .block--navegacaoprincipal{
          display: flex;
          flex-direction: column;

          nav{
            padding-bottom: 0;


            .toggler-busca{
              height: 52px;
              width: 35px;
              background-image: url('../../images/icon-search.png');
              background-repeat: no-repeat;
              background-position: center;
              background-color: #fff;
              background-size: 18px;
              cursor: pointer;
              z-index: 99;
            }
            
            .toggler-busca.mostrando{
              background-image: url('../../images/letterx.png');
              background-size: 16px;
            }
          }

          .search-block-form {
            
            display: none;
            width: 100%;
            z-index: 99;
            height: 54px;
            background-color: #f5f6f7;

            form{
              display: flex;
              //position: absolute;
              width: 100%;
              height: 100%;
              gap: 25px;
        
              > .form-item {
                width: 100%;

                .form-control {
                  all: initial;
                  font-family: "Averta", sans-serif;
                  width: 100%;
                  height: 100%;
                  padding: 0% 0% 0% 5%;
                  transition: height 0.5s ease-in-out;
                }
              }
  
              > .form-actions > .btn{
                all: initial;
                height: 100%;
                width: 35px;
                background-image: url('../../images/icon-search.png');
                background-repeat: no-repeat;
                background-position: center;
                background-size: 18px !important;
                font-size: 0;
                cursor: pointer;
              }
            }
         }
        }
        
        .me-2 {
          height: 5vw;
          width: 100%;
          min-height: 50px;
        }
      }
    }

    .paragraph {
      clear: both;
      //display: flex;
    }

    .container > .paragraph {
      padding: 3rem 0;
      overflow: hidden;
    }

    .field .field {
      padding: 0.5rem 0.25rem;
    }

    .field--name-field-paragraph-cta {
      display: flex;
      justify-content: center;

      .button,
      .field--name-field-link {
        @include button;
        width: 110px;
        height: 34px;
        padding: 0;

        a {
          color: $nav-link-color;
          font-weight: 600;
          font-size: 11px;
          line-height: 14px;
          text-decoration: none;
          padding: 8px 11px 5px;
          height: 100%;
          width: 100%;
          text-align: center;

          &::after {
            margin-left: 1px;
            position: relative;
            left: 7px;
          }
        }
      }
    }

    .pilares {
      .field--name-field-title {
        margin-bottom: 1rem;
      }

      .view-content {
        display: flex;
        width: 100%;
        gap: 95px;
        justify-content: center;

        @media (max-width: 990px) {
          flex-wrap: wrap;
          padding-bottom: 1rem;
          padding-left: 50px;
          padding-right: 50px;
        }

        .views-infinite-scroll-content-wrapper {
          display: flex;
          flex-wrap: wrap;
          width: 100%;
        }

        .views-row {
          background-color: $white;
          border-radius: 10px;
          box-shadow: 0px 3px 1px $blue-50;
          padding: 40px 35px 15px;
          text-align: center;
          flex: 0 0 28.3333%;
          /* width: 33.3333% */;
          display: flex;
          justify-content: flex-end;
          flex-direction: column;
          z-index: 2;
          /* margin-bottom: 20px; */

          @media (max-width: 990px) {
            width: 100%;
            flex: 0 0 100%;
            & + .views-row {
              margin-top: 1rem;
            }
          }

          .views-field-field-image {
            margin-bottom: 19px;
            img {
              width: 100%;
              max-width: 110px;
              height: auto;
            }
          }

          .views-field-field-title {
            color: #444;
            text-align: center;
            font-size: 22px;
            font-style: normal;
            font-weight: 600;
            margin-bottom: 11px;
          }

          .views-field-field-body {
            margin-bottom: 15px;
            p {
              color: #444;
              text-align: center;
              font-size: clamp(.9em, .5em + .4vw, 3em);
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              margin: 0;
              & + p {
                margin-top: 1rem;
              }
            }
          }

          .button{
            // margin: 0 !important;

            a{
              width: 8rem !important;
              height: 35px !important;
              font-size: 11px;
            }
          }
        }
      }
    }
    
    .front .paragraph_block {
      background-color: $blue-500;
      & + .paragraph_destaques {
        background-color: $gray-200;
      }
      .field {
        padding: 0;
      }

      form.webform-submission-contact-form {
        background-color: $blue-500;
        color: $white;
        padding: 20px 5rem;
        position: relative;
      }

      fieldset {
        margin: 0 !important;
        legend {
          display: none;
        }

        .fieldset-wrapper {
          display: flex;
          align-items: center;
          /* @media (max-width: 990px) { / Linha 180 da Mobile.scss /
            flex-direction: column;
            align-items: center;
            #edit-im-icon {
              margin: 0;
            }
            .form-actions input,
            .form-item input {
              max-width: 240px;
              width: 240px;
            }
            .form-actions input {
              margin-top: 41px;
            }
          } */
        }

        #edit-description {
          font-style: normal;
          font-size: 20px;
          line-height: 25px;
          margin: 0 40px;
          margin-right: auto;
        }

        .form-actions,
        .form-item {
          float: left;
          max-width: 400px;
          padding: 0 5px;
        }

        .form-item input {
          max-width: 200px;
        }

        .form-actions input {
          width: 110px;
        }
      }

      .form-check {
        position: absolute;
        top: auto;
        bottom: 20px;
        right: 5rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 0;
        min-height: auto;
        padding: 0;

        /* @media (max-width: 990px) {  / Linha 225 da Mobile.scss /
          right: auto;
          left: 50%;
          transform: translateX(-50%);
          bottom: 77px;
          label {
            display: flex;
            align-items: center;
          }
        } */

        input {
          margin-right: 5px;
          margin-left: 0;
          margin-top: 0;
        }

        label {
          font-style: italic;
          font-weight: 300;
          font-size: 11px;
          line-height: 22px;
          color: #fff;
          font-size: 11px;
          font-style: italic;
          font-weight: 300;
          line-height: 0px;
          a {
            color: #fff;
            font-size: 11px;
            font-style: italic;
            font-weight: 300;
            line-height: 0;
            text-decoration: underline;
          }
        }
      }
    }

    .block--tagclouds-block-categoria {
      text-align: center;
      display: flex;
      margin-top: 3.5em;

      @media (max-width: 990px) {
        flex-direction: column-reverse;
      }

      h2 {
        font-size: 22px;
        font-weight: 600;
        line-height: 27px;
        margin-top: 25px;
      }

      h3 {
        font-size: 15px;
        font-weight: 400;
        line-height: 18.5px;

        &::before {
          content: "";
          background: url("../../images/tagcloud-arrow.svg") no-repeat center
            $white;
          display: block;
          position: relative;
          padding: 0 1rem;
          height: 20px;
          left: 45%;
          top: 3.1rem;
          width: 20px;

          /* Tablet or iPad */
          @media (max-width: 990px) {
            left: 45%;
            top: 3.5rem;
          }

          /* Mobile (iOS Focus) */
          @media (max-width: 454px) {
            left: 45%;
            top: 4.5rem;
          }
        }

        &::after {
          content: "";
          display: block;
          margin: 1.7rem auto 2rem;
          width: 82%;
          border-bottom: 1px solid $gray-300;
        }
      }

      div.block-left {
        width: 50%;

        /* @media (max-width: 990px) {
          max-width: 80%;
          flex-direction: column;
        } */
      }

      div.block.right {
        width: 100%;
        flex-direction: column;

        @media (max-width: 990px) {
          width: 90%;
        }
      }

      span {
        display: flex;

        .tagclouds {
          @include link($black, $grey-300);
          padding: 5px 0;

          &.level6 {
            font-weight: 600;
          }

          &.level5 {
            font-weight: 500;
          }

          &.level4 {
            font-weight: 400;
          }

          &.level3 {
            font-weight: 300;
          }

          &.level2 {
            font-weight: 200;
          }

          &.level1 {
            font-weight: 100;
          }
        }
      }
    }
  }

  &.teaser {
    overflow: hidden;
  }

  .modal {
    background-color: #10101080;

    /* Forgot Password and Text Footer stylization */
    a {
      text-decoration: none;
      color: #444444;
      font-style: italic;
    }

    .modal-content {
      border: 5px solid #d6d6d6;
      border-radius: 50px;
      text-align: center;

      .modal-header {
        border-bottom: none;

        /* Logo Firjan Default */
        img {
          padding: 10px 20px;
        }

        /* Close Button */
        button {
          background-color: transparent;
          border: none;
          color: #aeaeae;
        }
        span {
          display: inline-block;
          font-size: 14px;
        }
      }

      .modal-body {
        padding: 2rem 3rem;

        /* Main title */
        h2 {
          font-size: 24px;
          color: #444444;
          text-transform: uppercase;
          margin-top: 1.2rem;
        }

        /*  Subtitle */
        p {
          color: #444444;
          padding: 4px 195px;
          @media (max-width: 990px) {
            padding: 4px 18px;
          }
        }

        /* Form */
        #user-login-form {
          width: 66%;
          margin: 0 auto 0;
        }

        /* Label Forms */
        .text-muted {
          display: none;
        }
        .form-text {
          margin-top: 0.5rem;
          margin-bottom: 0.5rem;
        }
        .form-control {
          font-size: 11px;
          font-style: italic;
          background-color: #d7d7d7;
          border: 1px solid #979797;
        }
        label {
          display: none;
        }

        /* Access Button */
        .btn {
          font-size: 11px;
          width: 100%;
          margin-top: 2rem;
        }

        /* Forgot Password Button */
        span {
          display: flex;
          justify-content: end;
          position: relative;
          width: 83%;
          bottom: 4rem;
          font-size: 12px;
          font-style: italic;
        }
      }

      .modal-footer {
        border-top: none;
        flex-direction: column;

        /* Associate Button Spacing */
        span {
          font-size: 14px;
          font-weight: bold;
          color: #444444;
          margin-bottom: 1rem;

          a {
            font-weight: bold;
          }
        }

        /* Lock Image Alignment */
        img {
          width: 65px;
          height: 65px;
          align-self: end;
        }
      }
    }
  }
}

#teaser {
  background-color: #cccb;
  position: sticky;
  bottom: 0;
  z-index: 9999;
  height: 60vh;

  .content {
    background-color: $white;
    border-radius: 10px;
    border: 1px solid $gray-200;
    box-shadow: 0 0 5px 5px $gray-400;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    text-align: center;
    top: 15%;
    width: 30%;
  }
}

.header-mobile-toggle-container {
  display: none;
  cursor: pointer;
  @media (max-width: 990px) {
    position: absolute;
    display: flex;
    height: 10px;
    align-items: center;
    top: 15px;
    right: 15px;
    border-radius: 3px;
    z-index: 99;
  }
}
.header-mobile-toggle {
  display: none;
  cursor: pointer;
  @media (max-width: 990px) {
    position: relative;
    display: block;
    width: 30px;
    height: 4px;
    background-color: $white;
    &:before,
    &:after {
      content: "";
      display: block;
      width: 100%;
      height: 4px;
      background-color: $white;
      position: absolute;
      left: 0;
      transition: all 0.3s ease;
    }
    &:before {
      top: -10px;
    }
    &:after {
      bottom: -10px;
    }
  }
}

body {
  ul.nav {
    li.show-mobile {
      display: none;
      @media (max-width: 990px) {
        display: block;
      }
    }
  }
}

.node-type--estudos, .node-type--detail, .taxonomy_term {
  .page__header{
    .block--navegacaoprincipal{
      nav{
        .toggler-busca{
          background-color: transparent !important;
          filter: invert(1) !important;
        }
      }
    }
  }
}

/*
.view-content .views-row {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 3px 1px #3F75FF;
  padding: 39px 56px 26px;
  text-align: center;
  flex: 0 0 33.3333%;
  width: 33.3333%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  gap: 40px;
}
*/
.node-type--estudos #hero-banners .hero-banner img,
.node-type--estudos #hero-banners .hero-banner img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  max-height: 350px !important;
}

.view-destaques .tns-outer .tns-nav {
  margin-top: 4em;
}

.view-destaques .tns-outer .tns-nav > [aria-controls] {
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0 5px;
  border-radius: 50%;
  background: #ddd;
  border: 0;
}

.block--system-branding, 
.block--definicaodemarcadosite {
  z-index: 99;
  margin-right: auto;
}

body main .block--tagclouds-block-categoria {
  .tags {
    display: grid;
    grid-template-columns: 48% 52%;
    grid-column-gap: 10px;
  }

  span {
    justify-content: end;
    text-align: end;
    font-size: 20px;
    a {
      text-decoration: none;
    }
    &:nth-child(2n) {
      justify-content: start;
      text-align: start;
    }

    .tagclouds {
      padding: 0;
      &:hover {
        text-decoration: none;
      }
    }
  }
}



body main .container > .paragraph {
  padding: 0 0 !important;
  overflow: hidden;
}

.field--name-field-body-resume img {
  margin-right: 15px;
  padding-bottom: 10px;
}


ul, li {
  list-style-type: none !important;
}


ul.no-bullets li {
  list-style-type: none !important;
  display: contents;
}