// Bootstrap
// -----------------------------------------------------------------------------
@import 'bootstrap';

// Parent Drupal related components
// -----------------------------------------------------------------------------
@import '../components/offcanvas/offcanvas';

// Include any custom stylesheets here
// -----------------------------------------------------------------------------
body {
  font-family: 'Averta', 'Allerta', sans-serif;

  .block--navegacaoprincipal {
    ul.nav {
      justify-content: flex-end;

      li {
        // flexbox side by side
        // align-items: center;
        // justify-content: center;
        padding: 0 .5rem;
      }
    }
  }

  #search-block-form {
    text-align: right;

    > div {
      float: left;
    }

    input[type='search'] {
      display: none;
      width: 95%;
    }

    &:hover input[type='search'] {
      display: block;
    }
  }

  // big hero image
  #hero-banner {
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: -1;

    img {
      object-fit: cover;
      width: 100%;
    }

    .faixa {
      top: -119px;
      position: relative;
      // transform: scaleX(-1);
    }
  }

  main {
    font-weight: 400;

    .paragraph {
      clear: both;
      display: flex;
    }

    .container > .paragraph {
      padding: 3rem 0;
    }

    .field .field {
      padding: .5rem .25rem;
    }

    .field--name-field-paragraph-cta {
      display: flex;
      justify-content: center;

      .button,
      .field--name-field-link {
        @include button;
        padding: 0 0 4px !important;

        a {
          color: $nav-link-color;
          font-weight: 600;
          font-size: 11px;
          line-height: 14px;
          padding: 10px 2rem;
          text-decoration: none;
        }
      }
    }

    .paragraph--type--hero-banner {
      background-color: #bbbbbb25;
      color: $white;
      display: block;

      .field--name-field-title {
        font-size: 50px;
        line-height: 62px;
        // padding: 1rem 0;
      }

      .field--name-field-body {
        font-size: 18px;
        line-height: 30px;
        margin: 0 auto;
        text-align: center;
        width: 70%;
      }

      .field--name-field-image {
        display: none;
      }

      .field--name-field-paragraph-cta .field--name-field-link {
        border-color: $white;
        display: flex;
        justify-content: center;
      }

      a,
      .field--name-field-paragraph-cta .field--name-field-link a,
      .button a,
      &:hover {
        color: #FFFFFF;

        &:hover {
          color: #FFFFFF;
          text-decoration: none;
        }
      }
    }

    .paragraph_image_text {
      background-color: $grey-100;
    }

    .paragraph--type--image-text {
      color: #444;
      padding: 5rem 0;

      .paragraph_left,
      .paragraph_right {
        // background-color: #F0F0F0;
        float: left;
        width: 50%;
      }

      .field--name-field-image {
        width: 50%;
        float: left;

        img {
          width: 100%;
          padding: 0 .3rem;
        }
      }

      .field--name-field-text {
        font-size: 18px;
        line-height: 30px;
      }

      .field--name-field-title {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
      }

      .field--name-field-body {
        h2 {
          font-size: 28px;
          line-height: 35px;
          margin: 1.5rem 0;
        }

        h3 {
          font-size: 24px;
          line-height: 35px;
        }
      }
    }

    .paragraph--type--destaques {
      display: block;
      background-color: $gray-200;
      color: $grey-300;
      padding: 80px;

      .field--type-string,
      .field--type-text-long p {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 0 15%;
        text-align: center;
      }

      .field--name-field-title {
        font-size: 22px;
        line-height: 27px;
        font-weight: 600;
      }

      .field--name-field-body {
        font-size: 15px;
        line-height: 19px;
      }

      .button {
        @include button;
      }

      .view-content {
        // 3 columns
        display: flex;
        line-height: 22px;

        .views-row {
          background-color: $white;
          border-radius: 20px;
          margin: 0 2%;
          padding: 35px 40px;
          width: 32%;

          .views-field-field-image {
            float: left;
            margin-right: 30px;
            height: 100%;
          }

          .views-field-field-title {
            font-size: 18px;
            font-weight: 700;
            line-height: 22px;
            padding-bottom: .5rem;
          }

          .views-field-field-body {
            font-size: 16px;
            line-height: 21px;
            padding-bottom: .5rem;
          }
        }
      }
    }
  }

}
