.breadcrumb {
  margin-top: 2.8em;
  font-size: 12px;
  margin-bottom: 2em;
}

.breadcrumb .breadcrumb-item a {
  font-size: 12px;
  text-decoration: none;
}

.breadcrumb a {
  text-decoration: none;
}

.block .block--observatorio-breadcrumbs {
  color: black;
}

.block .block--observatorio-breadcrumbs .breadcrumb-item a {
  font-size: 12px;
  color: black !important;
}

.block .block--observatorio-breadcrumbs .breadcrumb-item a:hover {
  font-size: 12px;
  color: $roxo-escuro;
  margin-bottom: 2em;
}

.breadcrumb-item + .breadcrumb-item::before {
  float: left;
  padding-right: var(--bs-breadcrumb-item-padding-x);
  color: var(--bs-breadcrumb-divider-color);
  content: var(--bs-breadcrumb-divider, ">") ;
}

.breadcrumb-item.active {
  color: $roxo-escuro;
}