.breadcrumb {
  margin-top: 3em;
  font-size: 16px;
  margin-bottom: 2em;
  background-color: transparent;
}

.breadcrumb .breadcrumb-item a {
  font-size: 16px;
  text-decoration: none;
}

.breadcrumb a {
  text-decoration: none;
}