body {

  &.node-type--detail,
  &.node-type--estudos {
    .button {
      @include button;
      font-size: 11px;
      font-weight: bold;

      &.btn {
        background: linear-gradient(0deg, $roxo-escuro, $roxo-medio), linear-gradient(0deg, $roxo-escuro, $roxo-escuro);
        border: 1px solid $roxo-escuro;

        a {
          color: $white;
        }
      }

      &.btn-lg {
        width: 100%;
      }
    }
  }
}



pager__item ::marker {
  unicode-bidi: none;
  list-style: none !important;
  list-style-type: none !important;
}