#hero-banners {
  left: 0;
  right: 0;
  position: relative;
  overflow: hidden;

  .tns-nav {
    position: absolute;
    top: 84%;
    width: 100%;
    z-index: 100;
  }

  .my-slider {
    display: inline-flex;
  }

  // Special classes used by the theme for the hero banner image, if dark or bright
  .hero-wrapper.dark {
    color: $black;
  }

  .hero-wrapper.bright {
    color: $white;
  }

  .hero-banner {
    top: 0;
    left: 0;
    right: 0;
    position: relative;
    z-index: 10;


    .field {
      position: relative;
      z-index: 1;
    }
  }

}

.node-type--detail {
  #hero-banners {
    img.faixa {
      display: none; /* removing gray bar from HMG - teste */
    }
  }
}

.paragraph--type--hero-banner {
  display: block;
  padding: 0;

  .hero-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 40%;
    width: 100%;

    .field--name-field-title {
      font-size: clamp(1.5em, 1em + 2vw, 3.8em);
      line-height: 1.1;
      text-align: center;
      width: 80%;
      font-family: 'Averta';
      font-weight: 100;
      margin-bottom: 10px;
      color: $white;
    }

    .field--name-field-image {
      display: none;
    }

    .field--name-field-body {
      padding: 0 12px;
      font-size: clamp(0.5em, 1em + 0.10vw, 3.5em);
      width: 800px;
      text-align: center;
      line-height: 1.8em;
      font-family: 'Averta';
      margin-bottom: 5px;
    }
  }

  .field--name-field-paragraph-cta .field--name-field-link {
    border-color: $white;
    display: flex;
    justify-content: center;
  }

  .field--name-field-paragraph-cta .field--name-field-link,
  .button {
    @include button;
    border-color: $white;
    font-size:16px;

    a {
      padding: 10px 18px;
      color: $white;
    }

    &::after {
      color: $white;
    }
  }
}
.user-login-form {
  margin-top: 4em;
  margin-bottom: 4em;
}

