.paragraph_image_text {
  background-color: #F2F2F2;
}

.paragraph--type--image-text {
  color: #444444;
  font-size: 15px;
  line-height: 18.54px;
  padding: 5rem 0 1rem;
  overflow: auto;

  &.text_image {
    display: flex;
    flex-direction: row-reverse; /* Ajustar mobile partindo daqui */
    margin-top: -10rem;

    /* .paragraph_left {
      margin-top: -10rem;
    } */
  }

  .paragraph_left,
  .paragraph_right {
    float: left;
    width: 50%;
    z-index: 10;
    padding-left: 0.5rem;

    .field--name-field-paragraph-cta {
      justify-content: flex-start !important;
    }
  }

  /* .paragraph_left {
    margin-top: -10rem;
    z-index: 10;
  } */
}

.paragraph_left,
.paragraph_right {
  width: 50%;
  display: table-cell;
  vertical-align: top;
}

.field--name-field-image {
  width: 50%;
  float: left;

  img {
    width: 100%;
    padding: 0 .3rem;
  }
}

.field--name-field-text {
  font-size: 18px;
  line-height: 30px;
}

.field--name-field-title {
  font-weight: 600;
  font-size: 16px; /* 14 aqui */
  line-height: 20px;
  /* padding-top: 2rem !important;
  padding-bottom: 7.5rem !important; */
}

.field--name-field-body {
  h2 {
    font-size: 28px;
    line-height: 35px;
    margin: 1.5rem 0;
  }

  h3 {
    font-size: 24px;
    line-height: 35px;
  }
}

// custom mobile
@media (max-width: 980px) {

  .paragraph_left,
  .paragraph_right {
    width: 100%;
    display: block !important;
  }

}
