.paragraph_image_text {
  background-color: #f0f0f0;
}

.paragraph--type--image-text {
  font-size: 17px;
  line-height: 20.54px;
  padding: 5rem 0 1rem;
  overflow: auto;
  overflow-x: hidden; /* Hide horizontal scrollbar */

  &.text_image {
    display: flex;
    flex-direction: row-reverse;
  }

  .paragraph_left,
  .paragraph_right {
    float: left;
    width: 50%;
    z-index: 10;
    padding-left: 0.5rem;

    .field--name-field-paragraph-cta {
      justify-content: flex-start !important;
    }

    .field--name-field-title {
      color: $cinza-100;
      font-size: 14px;
    }

  }

}

.field--name-field-image {
  width: 50%;
  float: left;

  img {
    width: 100%;
    padding: 0 .3rem;
  }
}

.field--name-field-text {
  font-size: 18px;
  line-height: 30px;
}

.field--name-field-body {
  h2 {
    font-size: 28px;
    line-height: 35px;
    margin: 1.5rem 0;
  }

  h3 {
    font-size: 24px;
    line-height: 35px;
  }

}

.paragraph_left .field--name-field-media-image .field__item img {
  justify-content: center;
  margin-left: 10%;
}

//MOBILE 

@media (max-width: 990px) {

  .paragraph_left .field--name-field-media-image .field__item img {
    margin-left: 0;
  }  

}  