body#inteligencia {
  background-color: $grey-100;

  .view {
    color: $black;
  }

  .view-header {
    margin-bottom: 2rem;
    text-align: center;
  }

  .views-row {
    background-color: $white;
    border-radius: 20px;
    float: left;
    margin: 40px;
    height: 336px;
    padding: 35px 40px;
    width: 490px;

    .button {
      @include button;
    }

    .views-field-title {
      margin-bottom: .5rem;
      font-weight: bold;

      a {
        color: $black;
        text-decoration: none;
      }
    }

    .views-field-field-image {
      float: left;

      img {
        width: 100%;
        padding-right: .5rem;
      }
    }
  }

}

.paragraph_iframe .paragraph {
  display: flex;
  flex-direction: column;

  .field--name-field-title {
    border-top: 1px solid $grey-75;
    border-bottom: 1px solid $grey-75;
    font-size: 25px;
    font-weight: 600;
    line-height: 31px;
    margin: 0 auto 1.5rem;
    padding: 0 0 1.5rem;
    text-align: center;
    width: 100%;

    &::before {
      content: '';
      background: url('../../images/target.svg') no-repeat;
      display: inline-block;
      height: 52px;
      left: -2rem;
      position: relative;
      top: 16px;
      width: 50px;
    }
  }

  // PowerBI
  iframe.embed {
    background-color: $gray-200;
    height: 738px;
    width: 100%;
  }
}
