body.node-type--detail {

  #page__head-bottom {
    position: absolute;
    top: 12rem;
    width: 100%;
    z-index: 10;
  }

  h1.page-title {
    color: $white;
  }

  #hero-banners .hero-banner {
    height: 350px;
  }

  &#inteligencia {
    background-color: $grey-100;

    .view {
      color: $black;
    }

    .view-header {
      margin-bottom: 2rem;
      text-align: center;
    }

    .views-row {
      background-color: $white;
      border-radius: 20px;
      float: left;
      margin: 30px;
      height: 336px;
      padding: 35px 40px;
      width: 490px;

      .button {
        @include button;
      }

      .views-field-title {
        margin-bottom: .5rem;
        font-weight: bold;

        a {
          color: $black;
          text-decoration: none;
        }
      }

      .views-field-field-image {
        float: left;

        img {
          width: 100%;
          padding-right: .5rem;
        }
      }
    }
  }

  .block--navegacaoprincipal ul.nav {
    background-color: transparent !important;

    li > a {
      color: white !important;
    }
  }

  .paragraph--type--image-text.text_image {
    margin-top: -14rem;

    .paragraph_left {
      position: relative;
      top: -25px;
    }

    .paragraph_right {
      .field--name-field-title {
        padding: 1rem 0.25rem 4rem !important;
      }
    }
  }

  .paragraph--type--destaques {
    .field--name-field-title {
      padding: 0.5rem 0.25rem !important;
    }

    .viewsreference--view-title {
      display: none;
    }

    .page-title {
      display: none;
    }
  }

  .field--name-field-pilares {
    display: none;
  }


  .paragraph_iframe .paragraph {
    display: flex;
    flex-direction: column;

    .field--name-field-title {
      border-top: 1px solid $grey-75;
      border-bottom: 1px solid $grey-75;
      font-size: 25px;
      font-weight: 600;
      line-height: 31px;
      margin: 0 auto 1.5rem;
      padding: 0 0 1.5rem;
      text-align: center;
      width: 100%;

      &::before {
        content: '';
        background: url('../../images/target.svg') no-repeat;
        display: inline-block;
        height: 52px;
        left: -2rem;
        position: relative;
        top: 16px;
        width: 50px;
      }
    }

    // PowerBI
    iframe.embed {
      background-color: $gray-200;
      height: 738px;
      width: 100%;
    }
  }
}

.node-type--detail, .node-type--estudos {

  .block--navegacaoprincipal ul.nav {
      background-color: transparent !important;
      flex-direction: row;
      justify-content: flex-end;
      z-index: 11;
      padding: 0;
      margin: 0;
      height: 52px;
      align-items: center;
  }

  .block--navegacaoprincipal ul.nav li a {
    color: #fff;
  }

  .paragraph_right .field--name-field-title {
    color: #fff;
    margin-bottom: 20px;
  }

}

.paragraph--type--image-text .field--name-field-body {
  margin-bottom: 1.5em;
}