
.front .dropdown-menu {
  background-color: #ffffff;
  opacity : 2.5; 
}  

.node-type--detail .dropdown-menu,
.node-type--estudos .dropdown-menu,
.taxonomy_term .dropdown-menu,
.taxonomy_term  .dropdown-menu a:hover,
.node-type--estudos .dropdown-menu a:hover  {
  background-color: transparent !important;
}  

.node-type--detail .block--navegacaoprincipal ul.nav li a:hover,
.node-type--estudos .block--navegacaoprincipal ul.nav li a:hover,
.taxonomy_term .block--navegacaoprincipal ul.nav li a:hover  {
  color: #fff;
  background-color: $roxo-escuro-black !important;
  border-radius: 6px;
} 