// custom mobile
@media (max-width: 980px) {

  .paragraph--type--hero-banner .field--name-field-title {
    font-size: 26px;
    line-height: 20px;
    text-align: center;
  }

  .paragraph--type--hero-banner .field--name-field-body {
    min-width: 90%;
  }

  body main .paragraph_block {
    max-height: auto;
    margin-bottom: 1em;
    min-height: 350px;
    padding: 0 !important; 
  }
 
   body main .paragraph--type--image-text {
    text-align: center;
     padding: 1rem 0;
  }

  .paragraph--type--destaques {
    display: block;
    padding: 0 !important;
  }

  .block--tagclouds-block-categoria img {
    width: 100%;
    text-align: center;
  }

  .paragraph--type--image-text {
    padding: 1rem 0 !important;
    display: flex !important;
    flex-direction: column-reverse;
    text-align: start !important;
  }

  .paragraph--type--destaques .views-view-grid .views-row {
    width: 100%; 
  }

  /* body main .paragraph {
    display: inline !important; 
  } */

  .paragraph_left {
    min-width: 100%;
    display: inline;
    padding: 10px; 
  }

  .paragraph_right {
    min-width: 100%;
    display: inline;
    padding: 0.5rem 3rem; 
    
    .field--name-field-body h2  {
      font-size: 20px !important;
      line-height: 25px !important;
      /* text-align: center; */
      text-align: start;
    }
    .field--name-field-body p {
      font-size: 13px;
      font-weight: 400;
    }

  }

  .pilares .views-col .col-1 {
    min-width: 100%;
    margin: 1rem 1rem 1rem 0 !important;
  }

  .pilares .view-content .views-row .views-col {
    min-width: 100%;
    margin-bottom: 1.5em !important;
    margin: 1rem 1rem 1rem 0 !important;
  }

  .block--tagclouds-block-categoria .block-left {
    min-width: 88%;
  }

  .paragraph--type--destaques .view-content .tns-item .views-field-field-image {
    margin-right: 31px;
    height: 100%;
    display: contents;
    padding-top: 10px;
  }

  .paragraph--type--destaques {
    padding: 10px;
    .field--type-string,
    .field--type-text-long p {
      align-items: center;
      display: flex;
      padding: 1em;
    }
  }

  .paragraph--type--destaques .field--type-text-long p  {
    padding: 5px 5px 5px 5px !important;
    background-color: #fff;
    border-radius: 6px;
  }

  .block--webform .paragraph_block fieldset .form-item {
    text-align: center;
    float: inline-start; 
    max-width: 200px;
    padding: 0 5px;
  }

  body main .paragraph_block fieldset #edit-description {
    font-size: 17px !important;
    line-height: 35px;
    margin: 0 !important;
    text-align: center !important;
  }

  .paragraph_block fieldset .form-item img {
    max-width: 300px;
    text-align: center;
  }

  .paragraph_block fieldset .form-item input {
    max-width: 100%;
    margin-bottom: 1em;
  }

  .fieldset-wrapper #edit-im-icon {
    margin-left: 30%;
    width: 100px;
  }

  footer.page__footer .block.block--system-menu {
    min-width: 100%; 
    text-align: center;
  }
  
  .footer.page__footer .block {
    padding-right: 0;
  }
 
  footer.page__footer form input[type=search] {
    font-style: italic;
    font-size: 13px;
    width: 80%;
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;
    margin-left: 20%;
  }

  footer.page__footer {
    text-align: center;
    min-width: 100%;
  }

  body main .paragraph_block .form-item-aceito-os-termos {
       top: auto !important; 
       justify-content: flex-start !important;
  }

  .block--footer-searchbox .js-form-submit {
    display: none;
  }

}

.header-mobile-toggle-container {
  display: none;
  cursor: pointer;
  @media (max-width: 990px) {
    position: absolute;
    display: flex;
    height: 30px;
    align-items: center;
    top: 0;
    right: 15px;
    border-radius: 3px;
  }
}
.header-mobile-toggle {
  display: none;
  cursor: pointer;
  @media (max-width: 990px) {
    position: relative;
    display: block;
    width: 30px;
    height: 2px;
    background-color: $white;
    &:before,
    &:after {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      background-color: $white;
      position: absolute;
      left: 0;
      transition: all 0.3s ease;
    }
    &:before {
      top: -10px;
    }
    &:after {
      bottom: -10px;
    }
  }
}

body {
  ul.nav {
    li.show-mobile {
      display: none;
      @media (max-width: 990px) {
        display: block;
      }
    }
  }
  &.header-mobile-open {
    @media (max-width: 990px) {
      .block--navegacaoprincipal {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 210;
        ul.nav {
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: auto;
          padding-top: 2rem;
          padding-bottom: 2rem;
          li + li {
            margin-top: 1.5rem;
          }
        }
      }
      .header-mobile-toggle-container {
        z-index: 220;
        .header-mobile-toggle {
          &:before {
            background-color: #444444;
            transform: rotate(45deg);
            top: 0;
          }
          &:after {
            background-color: #444444;
            transform: rotate(-45deg);
            bottom: 0;
          }
        }
      }
    }
  }
}

#search-block-form {
  @media (max-width: 990px) {
    display: none;
  }
  text-align: right;

  > div {
    float: left;
  }

  input[type="search"] {
    display: none;
    width: 95%;
  }

  input[type="submit"] {
    border-radius: 0;
    border: 0;
    width: 44px;
    height: 52px;
    font-size: 0;
    background: url(../../images/icon-search.png) center no-repeat #fff;
    background-size: 18px;
  }

  // &:hover input[type='search'] {
  //   display: block;
  // }
}

