@media (max-width: 980px) {

  /* General Properties --------------------------------------------------------------- */
  body {

    /* Menu Properties --------------------------- */
    &.header-mobile-open {
      .block--navegacaoprincipal {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 210;

        .navbar {
          padding-top: 0 !important;
        }

        .navbar-toggler {
          display: none;
        }

        #collapse_target {
          display: unset !important;
          background-color: $roxo-escuro;
        }

        ul.nav {
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: auto;
          padding-top: 3rem;
          padding-bottom: 4.5rem;

          li+li {
            margin-top: 1.5rem;
          }

          li.nav-item a.dropdown-toggle {
            text-align: center;
          }
        }
      }

      /* Menu Click Effect */
      .header-mobile-toggle-container {
        z-index: 220;
        position: fixed;
        top: 55px;

        .header-mobile-toggle {          
          &:before {
            background-color: #444;
            transform: rotate(45deg);
            top: 0;
          }

          &:after {
            background-color: #444;
            transform: rotate(-45deg);
            bottom: 0;
          }
        }
      }
    }

    /* Removing icon from nav menu */
    .block--navegacaoprincipal {
      .navbar {
        .toggler-busca {
          display: none;
        }
      }
    }


    /* Home Page Properties ---------------------------------------------------------- */
    /* Home - Hero Banner ------------------------ */
    .paragraph--type--hero-banner {

      .hero-wrapper {
        top: 30% !important;

        .field--name-field-body {
          min-width: 90%;
          width: 100% !important;
        }
      }
    }

    /* Home - Observatorio ----------------------- */
    .paragraph--type--image-text {
      display: flex !important;
      flex-direction: column-reverse;
      text-align: start;
      padding: 1rem 0;

      .paragraph_right,
      .paragraph_left {
        display: block !important;
        min-width: 100%;
      }

      .paragraph_right {
        padding: 0.5rem 3rem;

        .field--name-field-title {
          font-size: 16px;
          font-weight: bold;
        }

        .field--name-field-body {
          margin: 0 !important;

          h2 {
            font-size: 22px !important;
            line-height: 25px !important;
            /* text-align: center; */
            text-align: start;
          }

          p {
            font-size: 16px;
            font-weight: 400;
          }
        }

        .field--name-field-link {
          margin: 0 !important;
        }
      }
    }

    /* Home - Pilares ---------------------------- */
    .paragraph--type--destaques {
      /* padding: 10px; */
      display: block;
      padding: 35px 0 0 0 !important;

      .field--type-string,
      /* Home - Pilares & Destaques - Description Text */
      .field--type-text-long p {
        align-items: center;
        display: flex;
        padding: 1em;
        background-color: transparent;
        border-radius: 6px;
      }

      /* Binary After Properties */
      .field--name-field-view::after {
        background-size: contain;
        background-position: bottom;
        transform: scaleX(-1);
        height: 30%;
        width: 100%;
        left: 0;
        bottom: -10px;
      }

      .views-view-grid .views-row {
        width: 100%;
      }

      .view-content .tns-item .views-field-field-image {
        margin-right: 31px;
        height: 100%;
        display: contents;
        padding-top: 10px;
      }
    }

    /* Removing After from Home - Pilares */
    .paragraph_destaques:nth-child(2) {
      .paragraph--type--destaques {
        .field--name-field-view::after {
          display: none;
        }
      }
    }

    /* Home - Destaques -------------------------- */
    .paragraph_destaques {
      .paragraph--type--destaques {
        .view-content {
          padding-left: 5% !important;
          padding-right: 5% !important;

          #tns1-mw {
            width: 350px !important;

            @media (max-width: 415px){ /* iPhone XR & S20 */
              margin-left: 10px !important;
            }

            @media (max-width: 395px){ /* iPhone 12 */
              margin-left: 0 !important;
            }

            @media (max-width: 375px){ /* Samsung S8 & SE*/
              margin-left: -15px !important;
            }              
          }
          

          #tns1 {
            width: calc(215%) !important;
            height: 435px;
          }

          .tns-item {
            padding: 20px !important;

            .views-field-field-image {
              height: 150%;
              width: 49%;
              margin-right: 0 !important;
            }

            .views-field-title, 
            .views-field-body, 
            .views-field-nid {
              float: right;
              text-align: start!important;
              width: 45% !important;
            }

            .views-field-title {
              font-size: 14px !important;
            }

            .views-field-body {
              font-size: 11px !important;

              .field-content {
                padding-left: 0 !important;
                padding-right: 0 !important;
                width: auto !important;
              }
            }
          }
        }
      }
    }
    

    /* Home - Newsletter ------------------------- */
    .paragraph_block {
      min-height: 350px;
      padding: 0 !important;

      form.webform-submission-contact-form {
        padding: 20px 1rem !important;
      }

      .fieldset-wrapper {
        flex-direction: column;
        align-items: center;

        #edit-im-icon {
          margin: 0;
          width: 100px;
        }

        .form-item {
          text-align: center;
          float: inline-start;
          max-width: 200px;
        }

        .form-item img {
          max-width: 300px;
          text-align: center;
        }

        .form-item input,
        .form-actions input {
          width: 265px !important;
          max-width: 265px !important;
        }

        .form-item input {
          margin-bottom: 1em;
        }

        .form-actions input {
          margin-top: 40px;
          margin-bottom: 30px;
        }
      }

      fieldset {
        #edit-description {
          font-size: 17px !important;
          margin: 0 !important;
          text-align: center !important;
        }
      }

      /* Termos */
      .form-check {
        justify-content: flex-start !important;
        right: auto !important;
        left: 50%;
        bottom: 110px !important;
        transform: translateX(-50%);

        label {
          display: flex;
          align-items: center;
          width: 150px;
        }
      }
    }

    /* Home - Carrossel -------------------------- */
    .paragraph_carrossel_destaques {
      padding: 30px 0;

      &::before {
        background-position: bottom;
        background-size: cover;
        bottom: -10px;
        height: 10%;
        right: 0;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        width: 100%;
      }

      .carroussel-destaques {
        .field--name-field-titu {
          font-size: 21px;
        }

        .field--name-field-corpo {
          font-size: 13px;
          padding: 10px 15px 25px;
        }

        .carroussel-content {
          .carroussel-body {
            .views-field-nid .button {
              padding: 4px 8px !important;
              font-size: 10px !important;
              border-radius: 9px !important;
            }
          }
        }
      }
    }

    /* Home - Tag Clouds ------------------------- */
    .block--tagclouds-block-categoria {
      .block-left {
        min-width: 90%;
        width: 180px !important;

        img {
          width: 100%;
          text-align: center;
          margin: 15% 5% 20%;
        }
      }

      span {
        font-size: 15px !important;

        a {
          padding: 0 !important;
        }
      }
    }

    /* Home - Footer ----------------------------- */
    footer.page__footer {
      text-align: center;

      .container {
        padding: 10px 0 !important;
      }

      /* Footer Links */
      .block.block--system-menu {
        min-width: 100%;
        margin: 2em auto 1em;
        padding: 0 !important;

        ::after {
          width: 65px !important;
          margin: 20px auto 15px !important;
        }
      }

      /* Footer Logos */
      .block.block--marcas {
        padding: 0 !important;

        p {
          display: none;
        }
      }

      /* Footer Input */
      form input[type=search] {
        font-style: italic;
        font-size: 13px;
        width: 65%;
        margin: 1em auto;
      }

      /* Footer Searchbox */
      .block {
        &.block--footer-searchbox {
          margin: 0.5em 0 2em;
          padding: 0 !important;

          h2 {
            display: none;
          }

          .js-form-submit {
            display: block !important;
          }

          .form-actions {
            .form-submit {
              margin: 13px 0 0 0 !important;
            }
          }

          .js-form-submit {
            display: none;
          }
        }
      }

      /* Footer Socials */
      .block.block--redessociais {
        padding: 0 !important;

        p>a>img {
          margin: 0.5em 0.5em !important;
        }

        ::after {
          display: none;
        }
      }

      /* Bootstrap Fix */
      .footer_image {
        max-width: 200px;
        align-self: center;
      }
    }
  }

  /* Ainda nao mapeado --------------------------- */
  .pilares .views-col .col-1 {
    min-width: 100%;
    margin: 1rem 1rem 1rem 0 !important;
  }

  .pilares .view-content .views-row .views-col {
    min-width: 100%;
    margin-bottom: 1.5em !important;
    margin: 1rem 1rem 1rem 0 !important;
  }

  /* Internal Pilares Pages Properties ----------------------------------------------- */
  .node-type--detail {

    /* Header - Banner (Hero Banner) ------------------ */
    .paragraph--type--hero-banner {
      .hero-img {
        height: 100%;
      }
    }

    /* Page Title ------------------------------------- */
    #page__head-bottom {
      top: 10rem !important;

      h1.page-title {
        margin-left: 1rem;
      }
    }

    /* Page Navegation Remove */
    .block--observatorio-breadcrumbs {
      display: none;
    }

    /* Content Block (Observatorio) ------------------- */
    .paragraph--type--image-text {

      /* Mobile Column */
      &.text_image {
        flex-direction: column-reverse !important;
      }

      .field--name-field-body {
        margin-top: 0 !important;
        position: relative;
        top: 0;
      }

      /* Description Espacing */
      .paragraph_right {
        padding-left: 1.5rem;

        .field--name-field-title {
          margin-top: 1.5rem !important;

          .field__item {
            padding-bottom: 0.25em !important;
          }
        }
      }

      .paragraph_left {
        .field--name-field-media-image .field__item img {
          margin: 25px 0 0 0 !important;
        }
      }
    }

    /* Estudos Block (Destaques) ---------------------- */
    .paragraph_destaques {

      /* Gray Bar Alignment - NOT FINISHED */
      &::before {
        background-size: contain;
        top: 140px;
        margin-top: 0 !important;
      }
    }

    .blocktabs {
      &::after {
        background-size: contain;
        height: 20%;
        bottom: 0;
      }

      /* Card Box */
      .view-content {
        padding: 0 0.5rem !important;

        /* Card Style */
        .views-row {
          border-radius: 15px !important;
          width: 100%;
          flex: 0 0 100% !important;

          &+.views-row {
            margin-top: 1rem;
          }

          /* Card Button */
          .views-field-nid a {
            padding: 1px 10px !important;
            border-radius: 8px !important;
          }
        }
      }
    }
  }

  /* Menu Scroll  - Under Definition */
  /* .blocktabs ul.blocktabs-tabs {
    display: block ruby !important;
    overflow-y: hidden;
    padding: 0.5em 1em;
    margin-left: 0;
    font-weight: bold;
    font-family: "Averta", sans-serif;
  } */

  /* Internal Estudos Pages Properties ----------------------------------------------- */
  .node-type--estudos {

    /* Header - Banner (Hero Banner) ------------------ */
    .paragraph--type--hero-banner {
      .hero-img {
        height: 100%;
      }
    }

    /* Page Title ------------------------------------- */
    #page__head-bottom {
      top: 10rem !important;

      h1.page-title {
        margin-left: 1.5rem;
      }
    }

    .block--observatorio-content {
      .estudos-internas {
        .row {
          flex-direction: column;

          .col img {
            margin: 0 1rem 1.5rem;
          }

          .col:nth-child(2) {
            width: 90%;
          }
        }

        .paragraph--type--body {
          margin-left: 1.5rem;
        }
      }
    }

    .block--block-prospectiva-relacionado h2 {
      padding: 3em 0 1.5em;
    }

    /* Card Box */
    .view-content {
      padding: 0 0.5rem !important;

      .views-infinite-scroll-content-wrapper {
        flex-wrap: nowrap !important;
        overflow-x: scroll;
        overflow-y: hidden;
      }

      /* Card Style */
      .views-row {
        border-radius: 15px !important;
        width: 100%;
        flex: 0 0 100% !important;

        &+.views-row {
          margin-top: 1rem;
        }

        /* Card Button */
        .views-field-nid a {
          padding: 1px 10px !important;
          border-radius: 8px !important;
          border: 1px solid #003bd1;
          text-decoration: none;
        }
      }
    }
  }

  /* Shared Components */
  .node-type--detail,
  .node-type--estudos,
  .taxonomy_term {
    &.header-mobile-open {
      .header-mobile-toggle-container {
        .header-mobile-toggle {
          background-color: #0E65E5;

          &:before,
          &:after {
            background-color: $white;
          }
        }
      }
    }
  }
}
