.node-type--estudos {
  .block--titulodapagina {
    display: none;
  }

  .block--titulodapagina h1 {
    display: none;
  }

  .categoria-estudos {
    color: #fff;
    margin-right: 24%;
    font-size: 2.5rem;
    margin-top: 1.4em;
    font-family: "Averta", sans-serif;
  }

  /* Title Aligment */
  .hero-wrapper {
    align-items: flex-start;
    font-size: 2.5rem;
    margin: 5rem 0 0 0;

    /* Subtitle Aligment */
    .field--name-field-body {
      font-size: 18px;
      padding: 0.5em 0 4rem;
      margin-right: 4rem;
      width: 765px;
      text-align: left;
      line-height: 30px;
      font-weight: 400;
    }
  }

  /* General Text Aligment */
  .paragraph_body {
    padding-left: 0 !important;
  }

  .field--name-field-body-resume {
    padding-left: 0 !important;
  }

  .categoria-estudos-descricao {
    color: #fff;
    margin-right: 0;
    padding-top: 1em;
    font-size: 1.1rem;
    margin-top: 1em;
    font-family: "Averta", sans-serif;
    font-weight: 100;
  }

  .block--block-prospectiva-relacionado {
    .view-content {
      .views-infinite-scroll-content-wrapper {
        padding-bottom: 6em;
      }
    }

    .js-pager__items {
      .pager__item {
        a.button {
          border: 1px solid white !important;
          color: white !important;
          background-color: #003bd1 !important;
        }
      }
    }
  }

  .container {
    .paragraph_cta {
      padding: 0;

      .paragraph--type--cta {
        width: auto;
        background-color: transparent !important;

        .button-acessar-estudo {
          @include button_estudos;
        }
      }
    }

    .paragraph_attachments {
      padding: 0;

      .button-attachments-estudos {
        @include button_estudos;
        
        .field__item {
          display: grid;
          grid-template-columns: 82% auto;
          align-items: center;
          font-size: clamp(0.6em, .4em + .6vw, 3.5em);

          span:nth-child(1) {
            a {
              display: grid;
              align-items: center;
              grid-template-columns: 10% auto auto;
              grid-gap: 2px;
              justify-content: center;
    
              &:before {
                content: '';
                background-image: url('../../images/pdf-file-3380.svg');
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                height: 20px;
                min-width: 10px;
              }
    
              &::after {
                display: flex;
              }
            }

            &.file {
              width: 100%;
            }
          }

          span:nth-child(2) {
            display: inline-flex;
            background-color: grey;
            height: 100%;
            align-items: center;
            justify-content: center;
            text-align: center;
          }
        }
      }
    }
  }
}

.node-type--estudos main .container>.paragraph {
  padding: 1rem 0;
  overflow: hidden;
}

.estudos-body {
  font-size: 18px;
  color: #fff;
}