.node-type--estudos {
  .block--titulodapagina {
    display: none;
  }

  .block--titulodapagina h1 {
    display: none;
  }

  .categoria-estudos {
    color: #fff;
    margin-right: 24%;
    font-size: 2.5rem;
    margin-top: 1.4em;
    font-family: "Averta", sans-serif;
  }

  /* Title Aligment */
  .hero-wrapper {
    align-items: flex-start;
    font-size: 2.5rem;
    margin: 5rem 0 0 0;

    /* Subtitle Aligment */
    .field--name-field-body {
      font-size: 18px;
      padding: 0.5em 0 4rem;
      margin-right: 4rem;
      width: 765px;
      text-align: left;
      line-height: 30px;
      font-weight: 400;
    }
  }

  /* General Text Aligment */
  .paragraph_body {
    padding-left: 0 !important;
  }

  .field--name-field-body-resume {
    padding-left: 0 !important;
  }

  .categoria-estudos-descricao {
    color: #fff;
    margin-right: 0;
    padding-top: 1em;
    font-size: 1.1rem;
    margin-top: 1em;
    font-family: "Averta", sans-serif;
    font-weight: 100;
  }

  .block--block-prospectiva-relacionado {
    .view-content {
      .views-infinite-scroll-content-wrapper {
        padding-bottom: 6em;
      }
    }
  }

  .container {
    .paragraph_cta {
      padding: 0;

      .paragraph--type--cta {
        width: auto;
        background-color: transparent !important;

        .button-acessar-estudo {
          @include button_estudos;
        }
      }
    }

    .paragraph_attachments {
      padding: 0;

      .button-attachments-estudos {
        @include button_estudos;

        a {
          display: flex;
          justify-content: center;

          &::before {
            content: '';
            background-image: url('../../images/pdf-file-3380.svg');
            background-repeat: no-repeat;
            background-size: contain;
            height: 24px;
            width: 24px;
            flex: 2;
            // margin-right: 40%;
            // margin-left: 7%;
          }

          &::after {
            display: flex;
            // flex-grow: 3;
            flex: 2;
          }
        }

        .file {
          width: 100%;
        }

        .field__item {
          display: flex;
          align-items: center;

          span:nth-child(2) {
            display: inline-flex;
            background-color: grey;
            font-size: 15px;
            height: 55px;
            width: 18%;
            align-items: center;
            justify-content: center;
            text-align: center;
          }
        }
      }
    }
  }
}

.node-type--estudos main .container>.paragraph {
  padding: 1rem 0;
  overflow: hidden;
}

.estudos-body {
  font-size: 18px;
  color: #fff;
}