.node-search  {

  #hero-banners .hero-banner img {
      -o-object-fit: cover;
      object-fit: cover;
      width: 100%;
      max-height: 340px;
    }  

    .search-advanced {
      display: none;
    }

    a {
      display: none;
    }
    h2 {
      display: none;
    }

}

.node-search  h3 {
  background-color: blue;
  display: none;
}  

.search-advanced {
  display: none;
}

.search-form {
  margin-top: 3em;
  margin-bottom: 5em;
}

.block--observatorio-content h3{
 color: white;
}

.block--observatorio-content h2 {
  display: none;
}