footer.page__footer {
  position: relative;
  z-index: 1;
  background-color: $blue-500;
  color: $white;
  font-size: 18px;
  line-height: 22.25px;
  min-height: 300px;
  padding: 20px 0;

  .container {
    background: url('../../images/circle-world-map.png') no-repeat right top;
    padding: 50px 0;
  }

  .block {
    min-width: 20%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-right: 15px;

    &.block--marcas {
      min-width: 300px;
    }

    &.block--system-menu{
      padding-left: 2.5rem;
      max-width: 25%;
    }

    &.block--footer-searchbox{
      margin: 0 2.5rem 0 0;
      align-self: auto;

      form{
        display: flex;

        .form-item{
          width: 200px;

          .form-search{
            border: 0;
            border-radius: 8px 0px 0px 8px;
            height: 32px;
            width: 101%;
          }
        }

        .form-actions{
          display: block !important;

          .form-submit{
            background: url('../../images/icon-search.png') center no-repeat #fff;
            background-size: 18px;
            font-size: 0;
            border: 0;
            border-radius: 0px 8px 8px 0px;
            height: 32px;
            margin: 0;
          }
        }
      }

    }

    ul li {
      display: block;
      width: 100%;
    }
  }

  a,
  a.nav-link {
    color: $white;
    font-size: 18px;
    padding: 5px 0;

    &:hover {
      color: $grey-100;
      text-decoration: underline;
    }
  }

  h2 {
    font-size: 18px;
    font-weight: 600;

    &:after {
      content: '';
      border-bottom: 1px solid $blue-100;
      display: block;
      margin-top: 5px;
      width: 65px;
    }
  }

  .block--redessociais img {
    margin-right: 20px;
  }

  form {
    input[type=search] {
      font-style: italic;
      font-size: 13px;
    }

    input.btn {
      background-color: transparent;
      margin-top: 0.5rem;
    }
  }

  #edit-actions--3, #edit-actions--5 {
    display: none;
  }
}

footer#copyright {
  background-color: $grey-50;
  color: $grey-300;
  font-weight: 400;
  padding: 15px 0 5px;
  width: 100%;
  text-align: center;
}
