.taxonomy-internas {

  h1 {
    margin-bottom: 20px;
  }
   
  p {
    margin-bottom: 1em;
  }

  .page-title {
    margin-bottom: 1em;
    margin-top: 2em;
  }

}
    
.view-taxonomy-term .page-title {
  margin-bottom: 1em;
  margin-top: 1em;
}
