.taxonomy-internas {

  h1 {
    margin-bottom: 20px;
  }
   
  p {
    margin-bottom: 1em;
  }

  .page-title {
    margin-bottom: 1em;
  }
    
  .view-taxonomy-term {
    margin-bottom: 1em;
  }

}


