.tag-cloud-terms {
  margin-top: 2em;
  margin-bottom: 2em;

    .field-content {
      padding: 10px;
    }
  
    .views-view-responsive-grid--horizontal {
      text-align: center;
    }

}


.view-taxonomy-term .page-title {
  margin-bottom: 1em;
}

// custom mobile
@media (max-width: 980px) {

  .taxonomy-internas .col-1 {
      width: 100%;
      margin-bottom: 1em;
  }

}
    