// Variables
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and
// $modal-content-box-shadow-xs.

// To customize
// - Copy paste the variable from node_modules/bootstrap/scss/_variables.scss
// @see: https://github.com/twbs/bootstrap/blob/main/scss/_variables.scss
// - Change the value and remove the !default flag.
// e.g.
// $body-bg: #000;
// $body-color: $gray-100;

$white: #ffffff;
$black: #000000;

$grey-50: #dcdcdc;
$grey-75: #d3d3d3;
$grey-100: #f0f0f0;
$grey-200: #f2f2f2;
$grey-300: #444444;
$blue-50: #3F75FF;
$blue-100: #0e65e5;
$blue-200: #003bd1;
$blue-500: #182c5f;

$body-bg: $white;
$button-border-color: $blue-200;
$nav-link-color: $button-border-color;


