{#
/**
 * @file
 * Template for a forum node in full display mode.
 */
#}

  {% block content %}
  <div class="container taxonomy-internas">
    <div class="row">

      <div class="col">
        <h1>{{ node.label }}</h1>
        <p{{ node.body.value|t }}</p>

            <a href="{{url}}" class="button">Acessar Estudo</a>

      </div>
    </div>

  </div>
  {% endblock %}
