<div class="itens-carroussel" id="carrossel-destaques">
    {% for row in rows %}
        <div class="views-itens">
            <div class="carroussel-content">
                {{ row.content }}
                <div class="carroussel-body"></div>
            </div>
        </div>
    {% endfor %}
</div>
