.paragraph_carrossel_destaques{
    height: auto;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    padding: 64px 0;

    .itens-carroussel{
        width: 80%;
        margin: auto;

        @media (max-width: 980px){
            width: 100%;
        }
    }

    .carroussel-destaques{
        .view-content{
            all: initial;
            font-family: "Averta", sans-serif;
        }

        .carroussel-content{
            margin: 0 20px;
            display: flex;
            background-color: white;
            padding: 20px;
            border-radius: 12px;

            .views-field-field-imagem{
                margin-right: 12px;
            }

            .carroussel-body{
                width: 50%;
                display: flex;
                flex-direction: column;

                .views-field-title{
                    margin-bottom: 11px;
                }
        
                .views-field-body{
                    font-size: 10px;
                    margin-top: 10px;
                }
        
                .views-field-nid{
                    margin-top: 12px;
                }
            }
        }

       /* Estilo básico para os dots do slider */
        .slick-dots {
            display: flex;
            justify-content: center;
            align-items: center;
            list-style: none;
            padding: 0;
            margin-top: 40px;
        }
        
        .slick-dots li {
            margin: 0 5px; /* Espaçamento entre os dots */
        }
        
        .slick-dots button {
            background-color: #ccc; /* Cor de fundo dos dots inativos */
            width: 14px; /* Largura dos dots */
            height: 14px; /* Altura dos dots */
            border: none;
            border-radius: 50%;
            cursor: pointer;
            transition: background-color 0.3s ease; /* Transição de cor de fundo */
            font-size: 0;
        }
        
        /* Estilo para o dot ativo */
        .slick-dots .slick-active button {
            background-color: #007bff; /* Cor de fundo do dot ativo */
        }
        
        /* Adicionar animação ao clicar em um dot */
        .slick-dots button:focus {
            outline: none; /* Remover a borda padrão do foco */
            transform: scale(1.2); /* Redimensionar o dot quando estiver em foco */
        }
        
        /* Transição suave ao redimensionar o dot */
        .slick-dots button:focus {
            transition: transform 0.2s ease;
        }
        
    }
    
}